@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 660px;
  --breakpoint-md: 840px;
  --breakpoint-lg: 1024px;
  --height-13: 3.25rem;
  --border-width-1\.5: 1.5px;
  --text-md: 1.0625rem;
  --text-h1: 2.375rem;
  --text-h2: 1.875rem;
  --text-h3: 1.375rem;
  --width-42: 10.5rem;
}

@utility webkit-autofil-color-for-dark {
  -webkit-text-fill-color: oklch(92% 0.004 286.32);
}

@utility webkit-autofil-color-for-light {
  -webkit-text-fill-color: oklch(27.4% 0.006 286.033);
}

@utility heading-color {
  @apply text-zinc-800 dark:text-zinc-200;
}

@utility text-color {
  @apply text-zinc-600 dark:text-zinc-400;
}

@utility border-color {
  @apply border-zinc-300/70 dark:border-zinc-800;
}

@utility border-focus {
  @apply border-zinc-400 dark:border-zinc-600;
}

@utility bg-default {
  @apply bg-zinc-100 dark:bg-zinc-900;
}

@utility bg-primary {
  @apply bg-zinc-200/60 dark:bg-zinc-800/50;
}

@utility bg-secondary {
  @apply bg-zinc-200 dark:bg-zinc-800;
}

@utility bg-warning {
  @apply text-yellow-800 dark:text-yellow-500 bg-yellow-500/20 dark:bg-yellow-500/10;
}

@utility bg-input {
  @apply bg-white dark:bg-zinc-950/30;
}

@utility icon-btn {
  @apply text-color hover:heading-color transition-all duration-300 active:scale-90;
}

@utility icon-btn-bg {
  @apply icon-btn size-10 flex items-center justify-center rounded-xl hover:bg-primary;
}

@layer base {
  .dark {
    color-scheme: dark;
  }

  ::selection {
    @apply bg-teal-500 text-zinc-800;
  }

  body {
    @apply text-color bg-default w-full relative overflow-x-hidden box-border;
  }

  .root {
    @apply w-full min-h-dvh relative flex flex-col items-center;
  }

  main {
    @apply w-full relative flex flex-col items-center justify-center flex-1 px-5;
  }

  button,
  a {
    cursor: pointer;
  }

  input:autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    @apply webkit-autofil-color-for-light dark:webkit-autofil-color-for-dark;
    transition: background-color 100000s ease-in-out 0s;
    box-shadow: none;
  }
}

@layer components {
  .icon-btn svg {
    @apply w-5;
  }

  .icon-btn-bg svg {
    @apply w-5.5;
  }

  .icon-btn-bg-sm {
    @apply icon-btn-bg size-8;
  }

  .icon-btn-bg-sm svg {
    @apply w-5;
  }

  .h1 {
    @apply text-h1 font-bold leading-snug heading-color;
  }

  .h2 {
    @apply text-h2 font-bold leading-snug heading-color;
  }

  .h3 {
    @apply text-h3 font-semibold leading-snug heading-color;
  }

  .input {
    @apply w-full flex items-center h-13 p-4 outline-none transition-all duration-300 heading-color bg-input border border-color focus:border-focus rounded-2xl;
  }

  .mnemonic-word-input {
    @apply w-full flex items-center gap-1 p-3 h-12 leading-none heading-color bg-input border border-color focus-within:border-focus rounded-xl;
  }

  .setup-box {
    @apply w-full max-w-md relative flex flex-col items-center gap-4 text-center border-1.5 border-color rounded-3xl;
  }

  .setup-box h2 {
    @apply text-[1.75rem] font-medium leading-snug heading-color;
  }
}
